.similarProductMain{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* left: 0; */
    padding: 0.5rem;
    /* width: 100%; */
}
.similarProductMain h1{
    font-size: 24px;
    font-weight: 700;
}

.similarProductList {
    display: flex;
    flex-direction: row;
    /* overflow: hidden; */
    align-items: center;
    justify-content: space-between;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Ensure contents stay in a single line */
    
}

.similarProductList .similarProduct{
    width: 100%;
    height: auto;
    padding:  0 0 1rem 1rem ;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Ensure contents stay in a single line */

}