.productCategory {
  border: 0.5px solid rgba(80, 80, 234, 1);
  background: rgba(80, 80, 234, 1);
  border-radius: 40px;
  padding: 0.25rem 0.5rem;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  margin-right: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 20%;
  /* opacity: 0.8; */
}

.productCategory:hover {
  background: rgba(80, 80, 234, 0.8);
  cursor: pointer;
}

.productCategorySingle {
  border: 0.5px solid rgba(80, 80, 234, 1);
  background: rgba(80, 80, 234, 1);
  border-radius: 40px;
  padding: 0 0.5rem 0 0.5rem;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 90%;
  padding: 0.25rem 0.5rem;
}

.productCategorySingle:hover {
  background: rgba(80, 80, 234, 0.8);
  max-width: 70%;
  cursor: pointer;
}
