.headermain{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    height: auto;
    align-items: center;
    justify-content: space-between;
    /* background-color: white;
    color: black; */
}
.headermain .logo{
    height: 100%;
    width: 150px;
}

.headermain .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    justify-content: space-around;
    font-size: larger;

}

.headermain .member{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    /* padding-left: 1rem; */
}
.old{
    font-size: small;
    font-weight: bold;
    padding-right: 0.5rem;
}
.new {
 border-radius: 20px;
 background-color: black;   
 color: white;
 padding: 5px 10px;
}